extends layout

block content
  h1= title
  p House Details
  div(class="container-fluid")
        div(class="row")
            -
                let house = [
                    {
                        "house_rooms": 1,
                        "house_area": "100sqft",
                        "house_rent": 450
                    },
                    {
                        "house_rooms": 2,
                        "house_area": "130sqft",
                        "house_rent": 550
                    },
                    {
                        "house_rooms": 3,
                        "house_area": "200sqft",
                        "house_rent": 650
                    }                   
                ]
            each v,index in house
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.house_rooms}
                br
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.house_area}
                br
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.house_rent}
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }
